<div class="flex flex-col">
    <h3 class="text-2xl text-center mt-2">Dodaj zgłoszenie</h3>
    <div [formGroup]="newReport">
        <div class="flex flex-col items-center mt-5">
            <label for="title" class="text-sm">Temat zgłoszenia</label>
            <input type="text" name="title" id="title" class="border-1 border-gray-200 bg-gray-50 rounded-lg w-80 px-2"
                placeholder="Wpisz temat zgłoszenia..." formControlName="title">
        </div>
        <p class="text-red-500 text-xs m-0 text-center">
            @if(newReport.get('title')?.touched && newReport.get('title')?.hasError('minlength')){
            Musisz podać temat zgłoszenia (minimum 5 znaków)
            }
            @if(newReport.get('title')?.hasError('required') && newReport.get('title')?.touched){
            Musisz podać temat zgłoszenia
            }
            @if(newReport.get('title')?.hasError('maxlength')){
            Temat nie może być dłuższy niż 50 znaków
            }
        </p>
        <div class="flex flex-col items-center">
            <label for="category" class="text-sm">Kategoria</label>
            <select name="category" id="category" class="border-1 border-gray-200 bg-gray-50 rounded-lg w-82 px-2"
                formControlName="category">
                <option value="hardware">Problem sprzętowy</option>
                <option value="software">Problem z programem</option>
                <option value="other">Inny problem</option>
            </select>
        </div>
        <div class="flex flex-col items-center">
            <label for="priority" class="text-sm">Priorytet</label>
            <select name="priority" id="priority" class="border-1 border-gray-200 bg-gray-50 rounded-lg w-82 px-2"
                formControlName="priority">
                <option value="low">Niski</option>
                <option value="medium">Średni</option>
                <option value="high">Wysoki</option>
                <option value="critical">Krytyczny</option>
            </select>
        </div>
        <div class="flex flex-col items-center">
            <label for="description" class="text-sm" class="text-sm">Opis problemu</label>
            <textarea name="description" id="description"
                class="border-1 border-gray-200 bg-gray-50 rounded-lg w-92 h-24 resize-none text-sm"
                placeholder="Dodaj dokładny opis problemu" formControlName="description"></textarea>
        </div>
        <p class="text-red-500 text-xs m-0 text-center">
            @if(newReport.get('description')?.touched && newReport.get('description')?.hasError('minlength')){
            Dodaj opis zgłoszenia (minimum 10 znaków)
            }
            @if(newReport.get('description')?.hasError('required') && newReport.get('description')?.touched){
            Musisz dodać opis
            }
            @if(newReport.get('description')?.hasError('maxlength')){
            Opis nie może być dłuższy niż 600 znaków
            }
        </p>
        <div class="flex flex-col items-center mt-2">
            <app-button class="w-40" label="Wyślij zgłoszenie" [disabled]="!newReport.valid"></app-button>
        </div>
    </div>
</div>