<div class="flex justify-between mx-0 my-0 md:mx-20 md:my-2">
    <div class="flex items-center w-3/5">
        <h1 class="text-2xl font-bold md:text-3xl" (click)="navigateTo('/')">
            ITHelper
        </h1>
        <div class="hidden md:flex">
            <p [ngClass]="active === '' ? 'underline': ''" class="mx-4 hover:underline cursor-pointer"
                (click)="navigateTo('/')">@if(!isAdmin){Moje}@else{Wszystkie} zgłoszenia</p>
            <p [ngClass]="active === 'new' ? 'underline': ''" class="mx-4 hover:underline cursor-pointer"
                (click)="navigateTo('/new')">Nowe zgłoszenie</p>
        </div>
    </div>
    <div class="flex items-center cursor-pointer" (click)="isMenuOpen = !isMenuOpen">
        @if(imageLink){
        <img class="w-10 h-10 rounded-full" [src]="imageLink" alt="Rounded avatar">
        }
        <p>{{userName}}</p>
    </div>
</div>
@if(isMenuOpen){
<div class="absolute top-4 right-4 border-1 border-gray-200 bg-gray-50 shadow-lg rounded-sm w-40 p-4">
    <div class="flex justify-center hover:cursor-pointer hover:bg-gray-100" (click)="isMenuOpen = !isMenuOpen">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-compact-up">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 13l8 -3l8 3" />
        </svg>
    </div>
    <p class="my-2 hover:underline cursor-pointer  md:hidden" (click)="navigateTo('/')">
        @if(!isAdmin){Moje}@else{Wszystkie} zgłoszenia</p>
    <p class="my-2 hover:underline cursor-pointer md:hidden" (click)="navigateTo('/new')">Nowe zgłoszenie</p>
    <p class="my-2 hover:underline cursor-pointer md:hidden" (click)="navigateTo('/settings')">Ustawienia</p>
    <p class="my-2 hover:underline cursor-pointer" (click)="sendLogout()">Wyloguj</p>
</div>
}