<div class="h-[calc(100vh-90px)] flex flex-col rounded-xl bg-white md:mx-2">
    <div class="h-1/12 flex justify-between border-b border-gray-100">
        <div class="flex p-2">
            @if(user_id === this.user?.$id!) {
            <div class="text-red-600 hover:opacity-80 hover:cursor-pointer" (click)="deleteReport()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M4 7l16 0" />
                    <path d="M10 11l0 6" />
                    <path d="M14 11l0 6" />
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
            </div>
            }
            <p class="text-sm md:text-xl">Zgłoszenie <span class="text-gray-500">{{id}}</span></p>
        </div>
        <div class="flex flex-row text-blue-400 p-2 hover:cursor-pointer hover:underline"
            (click)="navigateTo('/manage')">
            <p class="text-sm md:text-base">Zarządzaj zgłoszeniem</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
                class="icon icon-tabler icons-tabler-filled icon-tabler-settings">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M14.647 4.081a.724 .724 0 0 0 1.08 .448c2.439 -1.485 5.23 1.305 3.745 3.744a.724 .724 0 0 0 .447 1.08c2.775 .673 2.775 4.62 0 5.294a.724 .724 0 0 0 -.448 1.08c1.485 2.439 -1.305 5.23 -3.744 3.745a.724 .724 0 0 0 -1.08 .447c-.673 2.775 -4.62 2.775 -5.294 0a.724 .724 0 0 0 -1.08 -.448c-2.439 1.485 -5.23 -1.305 -3.745 -3.744a.724 .724 0 0 0 -.447 -1.08c-2.775 -.673 -2.775 -4.62 0 -5.294a.724 .724 0 0 0 .448 -1.08c-1.485 -2.439 1.305 -5.23 3.744 -3.745a.722 .722 0 0 0 1.08 -.447c.673 -2.775 4.62 -2.775 5.294 0zm-2.647 4.919a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" />
            </svg>
        </div>
    </div>
    <div class="flex justify-between px-1 h-1/24">
        <div class="flex">
            <p class="bg-gray-300 text-gray-500 font-bold rounded-xl text-xs m-1 p-1">{{
                changeCategory(category!) }}
            </p>
            <p class="rounded-xl text-xs font-bold bg-blue-300 m-1 p-1">{{ changeStatus(status!) }}</p>
            <p class="rounded-xl text-xs font-bold bg-green-300 m-1 p-1">{{ changePriority(priority!)
                }}</p>
        </div>
        <div>
            <div class="flex flex-col md:flex-row">
                <p class="bg-gray-200 p-0 m-0 rounded-xl text-sm md:p-1 md:m-1">@if(assigned_to){{{ assigned_to
                    }}}@else{Nie przypisany}</p>
                <p class="font-bold text-gray-500 text-xs p-0 m-0 md:p-1 md:m-1">{{ created | date:'yyyy-MM-dd' }}</p>
            </div>
        </div>
    </div>
    <div
        class="h-1/24 flex flex-col items-center border-2 border-dashed border-gray-300 rounded-lg bg-gray-50 transition hover:bg-gray-100 m-1 p-1">
        <label class="flex flex-col items-center hover:cursor-pointer">
            <span class="text-gray-600 font-medium text-center text-sm">Wrzuć zdjęcie w odpowiednim formacie</span>
            <input type="file" class="hidden" (change)="onFileSelected($event)" accept="image/*" />
        </label>
    </div>
    <div class="flex h-5/24 overflow-x-auto">
        @if(!loadingImages) {
        @if(imageLinks) {
        @for(link of imageLinks; track $index) {
        <img class="w-auto max-h-40 object-contain rounded-xl p-1 m-1 hover:cursor-pointer" [src]="link"
            (click)="openLink(link)" />
        }
        }
        }@else {
        <app-spinner />
        }
    </div>
    <div class="flex flex-col h-2/12">
        <p class="text-md font-semibold mb-1">Opis problemu</p>
        <div class="overflow-auto">
            <p class="text-sm text-gray-600 whitespace-pre-wrap p-1 m-1">{{ description }}</p>
        </div>
    </div>
    <div class="flex flex-col h-5/12">
        <div>
            <div>
                <p class="text-base font-semibold">Komentarze</p>
            </div>
            <div class="w-full flex" [formGroup]="commentForm">
                <input type="text" placeholder="Dodaj komentarz"
                    class="flex-1 border border-gray-200 rounded-lg text-sm p-1 m-1" formControlName="comment" />
                <app-button label="Dodaj" [disabled]="!commentForm.valid" (clickEvent)="addComment()" />
            </div>
        </div>
        <div class="flex flex-col overflow-y-auto">
            @for(comment of comments; track $index) {
            <app-comment-card [username]="comment.username" [userId]="user?.$id!" [authorId]="comment.user_id!"
                [postId]="id!" [comment]="comment.text" [commentId]="comment.$id"
                (emitDelete)="deleteComment($event)" />
            }
        </div>
    </div>
</div>