<div [formGroup]="updatePassword">
    <div class="flex flex-col items-center mt-5">
        <label for="oldPassword">Podaj stare hasło</label>
        <input type="password" id="oldPassword" name="oldPassword"
            class="border-1 border-gray-200 bg-gray-50 rounded-lg w-80 px-2" placeholder="Stare hasło"
            formControlName="oldPassword" />
        <p class="text-red-500 text-xs m-0">
            @if (updatePassword.get('oldPassword')?.hasError('required') &&
            updatePassword.get('oldPassword')?.touched) { Musisz podać hasło } @if
            (updatePassword.get('oldPassword')?.hasError('minlength')) { Hasło musi
            być dłużse niż 8 znaków }
        </p>
    </div>
    <div class="flex flex-col items-center">
        <label for="newPassword">Podaj nowe hasło</label>
        <input type="password" id="newPassword" name="newPassword"
            class="border-1 border-gray-200 bg-gray-50 rounded-lg w-80 px-2" placeholder="Nowe hasło"
            formControlName="newPassword" />
        <p class="text-red-500 text-xs m-0">
            @if (updatePassword.get('newPassword')?.hasError('required') &&
            updatePassword.get('newPassword')?.touched) { Musisz podać hasło } @if
            (updatePassword.get('newPassword')?.hasError('minlength')) { Hasło musi
            być dłużse niż 8 znaków }
        </p>
    </div>
    <div class="flex flex-col items-center">
        <label for="retypePassword">Potwórz nowe hasło</label>
        <input type="password" id="retypePassword" name="retypePassword"
            class="border-1 border-gray-200 bg-gray-50 rounded-lg w-80 px-2" placeholder="Powtórz hasło"
            formControlName="retypePassword" />
    </div>
    <p class="text-red-500 text-xs m-0 text-center">
        @if(updatePassword.hasError('passwordsMismatch')){ Nowe hasła nie są zgodne.
        } @if(updatePassword.hasError('newPasswordSameAsOld')){ Nowe hasło musi
        różnić się od starego. }
    </p>
    <div class="flex flex-col items-center">
        <app-button type="submit" class="w-40" label="Zmień hasło" [disabled]="!updatePassword.valid"
            (clickEvent)="changePassword(this.updatePassword.value.newPassword!, this.updatePassword.value.oldPassword!)"></app-button>
    </div>
</div>