<div class="rounded-xl h-full ml-0 md:ml-4">
    <div class="flex flex-col md:flex-row justify-between w-full">
        <app-card class="w-1/1 p-1" title="Otwarte" [number]="1" [svgContent]="svgs[0]" />
        <app-card class="w-1/1 p-1" title="W trakcie" [number]="2" [svgContent]="svgs[1]" />
        <app-card class="w-1/1 p-1" title="Rozwiązane" [number]="3" [svgContent]="svgs[2]" />
        <app-card class="w-1/1 p-1" title="Zamknięte" [number]="4" [svgContent]="svgs[3]" />
    </div>
    <p>start-page works!</p>
    <div>