<div class="flex justify-between w-full  p-2 rounded-lg" [ngClass]="authorId === userId ? 'bg-gray-300':'bg-gray-100'"
    (mouseenter)="deleteVisible = true" (mouseleave)="deleteVisible = false">
    <div class="flex flex-col">
        <p class="font-bold">{{username}}</p>
        <div>
            <p class="text-sm">{{comment}}</p>
        </div>
    </div>
    @if(deleteVisible && authorId === userId){
    <div class="flex items-center cursor-pointer" (click)="deleteItem(commentId)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-x">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </div>
    }
</div>