<div
  class="border-b border-gray-100 p-2 hover:opacity-80 hover:cursor-pointer min-h-[60px] md:min-h-[64px] flex flex-col justify-center"
  [ngClass]="index! % 2 === 0 ? 'bg-gray-50': ''" (click)="navigateTo('/details')">
  <div class="hidden md:flex justify-between items-center">
    <div class="text-sm lg:text-base w-1/5 truncate">{{title.length > 15 ? (title | slice:0:15) + '...' : title}}</div>
    <div class="w-1/5 flex justify-center">
      <div class="px-2 py-1 rounded-lg text-xs lg:text-sm" [ngClass]="{
          'bg-blue-400 opacity-90': status === 'new',
          'bg-yellow-400 opacity-90': status === 'in_progress',
          'bg-green-400 opacity-90': status === 'finished',
          'bg-gray-400 opacity-90': status === 'closed'
        }">
        {{changeStatus(status)}}
      </div>
    </div>
    <div class="w-1/5 flex justify-center">
      <div class="px-2 py-1 rounded-lg text-xs lg:text-sm" [ngClass]="{
          'bg-blue-400 opacity-90': priority === 'minimal',
          'bg-green-400 opacity-90': priority === 'medium',
          'bg-yellow-400 opacity-90': priority === 'high',
          'bg-red-400 opacity-90': priority === 'critical'
        }">{{changePriority(priority)}}</div>
    </div>
    <div class="text-xs lg:text-sm w-1/5 text-center truncate">@if(assigned_to){{{assigned_to}}}@else {Nie przypisano}
    </div>
    <div class="text-xs lg:text-sm w-1/5 text-center">{{created | date:'yyyy-MM-dd'}}</div>
  </div>
  <div class="md:hidden flex flex-col space-y-2">
    <div class="text-sm font-semibold">{{title}}</div>
    <div class="text-xs flex justify-between">
      <span class="font-medium">Status:</span>
      <span class="px-2 py-1 rounded-lg text-xs" [ngClass]="{
          'bg-blue-400 opacity-90': status === 'new',
          'bg-yellow-400 opacity-90': status === 'in_progress',
          'bg-green-400 opacity-90': status === 'finished',
          'bg-gray-400 opacity-90': status === 'closed'
        }">{{changeStatus(status)}}</span>
    </div>
    <div class="text-xs flex justify-between">
      <span class="font-medium">Priorytet:</span>
      <span class="px-2 py-1 rounded-lg text-xs" [ngClass]="{
          'bg-blue-400 opacity-90': priority === 'minimal',
          'bg-green-400 opacity-90': priority === 'medium',
          'bg-yellow-400 opacity-90': priority === 'high',
          'bg-red-400 opacity-90': priority === 'critical'
        }">{{changePriority(priority)}}</span>
    </div>
    <div class="text-xs flex justify-between">
      <span class="font-medium">Przypisano:</span>
      <span>@if(assigned_to){{{assigned_to}}}@else {Nie przypisano}</span>
    </div>
    <div class="text-xs flex justify-between">
      <span class="font-medium">Data:</span>
      <span>{{created | date:'yyyy-MM-dd'}}</span>
    </div>
  </div>
</div>