<div class="flex justify-between border-b-1 p-1.5 border-gray-100 hover:opacity-80 hover:cursor-pointer"
  [ngClass]="index! % 2 === 0 ? 'bg-gray-50': ''" (click)="navigateTo('/details')">
  <div class="text-sm lg:text-base flex w-1/5">{{title.length > 15 ? (title | slice:0:15) + '...' : title}}</div>
  <div class="w-1/5">
    <div class="flex justify-center px-2 my-1 rounded-xl text-xs mx-0 lg:text-base lg:mx-4" [ngClass]="{
        'bg-blue-400 opacity-90': status === 'new',
        'bg-yellow-400 opacity-90': status === 'in_progress',
        'bg-green-400 opacity-90': status === 'resolved',
        'bg-gray-400 opacity-90': status === 'closed'
      }">
      {{changeStatus(status)}}
    </div>
  </div>
  <div class="w-1/5">
    <div class="flex justify-center px-2 my-1 rounded-xl text-xs mx-0 lg:text-base lg:mx-4" [ngClass]="{
        'bg-blue-400 opacity-90': priority === 'low',
        'bg-green-400 opacity-90': priority === 'medium',
        'bg-yellow-400 opacity-90': priority === 'high',
        'bg-red-400 opacity-90': priority === 'critical'
      }">{{changePriority(priority)}}</div>
  </div>
  <div class="flex w-1/5 text-xs lg:text-base">@if(assigned_to){{{assigned_to}}}@else {Nie przypisano}</div>
  <div class="flex w-1/5 text-xs lg:text-base">{{created | date:'yyyy-MM-dd'}}</div>
</div>